@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Carter One", "Archivo Black", sans-serif;
  }

  h2 {
    font-family: "Carter One", sans-serif;
  }

  h3,
  p,
  li {
    font-family: "Roboto", "Karla", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6;
  }
}
