@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Archivo Black", sans-serif;
  }

  h3 {
    font-family: "Archivo Black", sans-serif;
  }
  h2,
  h4 {
    font-family: "Source Sans Pro", "Roboto", sans-serif;
  }
  p,
  li {
    font-family: "Source Sans Pro", "Roboto", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6;
  }

  /* #webfeature img:hover,
  #spil img:hover {
    background-color: black;
    opacity: 80%;
  } */

  .linkedinpuls {
    animation-name: puls;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes puls {
    0% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1);
    }
  }
}
